[Desktop Entry]
Type=Service
MimeType=image/jpeg;image/png;image/webp;image/tiff;image/heif;image/heic;image/avif;
Actions=rotateRight;
X-KDE-Priority=TopLevel
X-KDE-Protocols=file

[Desktop Action rotateRight]
Name=Rotate Right
Icon=object-rotate-right
Exec=magick mogrify -auto-orient -rotate 90 -orient TopLeft %F
