[user]
	email = reactionnnnn@gmail.com
	name = rzssh

[core]
	excludesFile = ~/.gitignore_global
	attributesFile = ~/.gitattributes_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[diff]
  external = difft --display side-by-side-show-both
  algorithm = histogram

[pager]
  diff = less -RFX

[delta]
  navigate = true
  dark = true

[color "status"]
	added = "#a6e3a1"
	changed = "#f9e2af"
	untracked = "#89b4fa"
	deleted = "#f38ba8"
	branch = bold

[color "diff"]
	meta = "#89b4fa"
	frag = "#c4a7e7"
	old = "#f38ba8"
	new = "#a6e3a1"

[init]
	defaultBranch = main

[pull]
	rebase = true
  autostash = true

[fetch]
  prune = true
  pruneTags = true

[merge]
  conflictstyle = zdiff3

[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[rerere]
  enabled = true
  autoUpdate = true

[advice]
  forceDeleteBranch = false

[url "git@github.com:"]
  insteadOf = https://github.com/

[alias]
	dlog = log -p --ext-diff
	du = diff --no-ext-diff
[push]
	autoSetupRemote = true
